body {
  background-color: antiquewhite;
}
h1 {
  font-size: 50px;
  color: #f90244;
  text-align: center;
}

article {
  margin-bottom: 3rem;
}
h2 {
  text-align: center;
  max-width: 70%;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #f90244a9;
}
p {
  font-size: 30px;
  margin-left: 20%;
}
